<%= form_for task, remote: true do |f| %>
  <div class="list-group-item task" data-task-id="<%= task.id %>">
    <div class="div-check">
      <%= f.check_box :done, id: "task_complete_#{task.id}" %>
      <%= f.submit "Update" %>
    </div>
    <div class="div-label">
      <%= f.label "complete_#{task.id}", task.name,
            class: "task-label#{' complete' if task.done?}" %>
    </div>
    <div class="div-options">
      <%= render 'tasks/options', task: task %>
    </div>
  </div>
<% end %>