<div class="panel panel-primary" id="project_<%= project.id %>">
  <div class="panel-heading">
    <div class="div-project-name">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;
      <%= project.name %>
    </div>
    <div class="div-project-options">
      <%= render 'options', project: project %>
    </div>
  </div>
  <div class="new-task">
    <%= form_for @task, remote: true do |f| %>
      <div class="row">
        <div class="col-xs-12">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
            <%= hidden_field_tag(:project_id, project.id) %>
            <%= f.text_field :name, class: "form-control" %>
            <div class="input-group-btn">
              <%= f.submit class: "btn btn-success" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="list-group">
    <div id="incomplete_tasks">
      <%= render project.tasks.incomplete %>
    </div>
    <div id="complete_tasks">
      <%= render project.tasks.complete %>
    </div>
  </div>
</div>