<div class="panel panel-primary">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    <%= project.name %>
  </div>
  <div class="new-task">
    <%= form_for @task do |f| %>
      <div class="row">
        <div class="col-xs-12">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
            <%= hidden_field_tag(:project_id, project.id) %>
            <%= f.text_field :name, class: "form-control" %>
            <div class="input-group-btn">
              <%= f.submit class: "btn btn-success" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="list-group">
    <%= render project.tasks %>
  </div>
</div>